<body style="text-align: center;">
<mat-toolbar color="primary" style="text-align: center;">
    <span class="fill-remaining-space">My Transactions</span>
  </mat-toolbar> 
</body>
<mat-form-field appearance="fill"  style="width: 20%;">
    <mat-label>Filter by a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker" (dateChange)="filter(start.value, end.value)">
      <input matStartDate placeholder="Start date" id="start" #start>
      <input matEndDate placeholder="End date" id="end" #end>
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker ></mat-date-range-picker>
 </mat-form-field>
 <button mat-raised-button color="primary"  class="button" (click)="filter(start.value, end.value)" >Filter</button>

 <div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource"  multiTemplateDataRows>
  <ng-container matColumnDef="accountNumber">
    <th mat-header-cell *matHeaderCellDef> 
        <button mat-raised-button color="primary" class="button" >Account No.</button>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.accountId}} </td>
</ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> 
            <button mat-raised-button color="primary"  class="button" (click)="ngOnChanges('date')" >Date</button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.operationTime}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-raised-button color="primary"  class="button" (click)="ngOnChanges('amount')" >Amount</button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionAmount}} </td>
    </ng-container>
    <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-raised-button color="primary"  class="button" (click)="ngOnChanges('balance')" >Balance</button>
            </th>
        <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
    </ng-container>
    <ng-container matColumnDef="debit">
        <th mat-header-cell *matHeaderCellDef> 
            <button mat-raised-button color="primary"  class="button" (click)="ngOnChanges('debit')" >Debit</button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.debit}} </td>
    </ng-container>
   

<ng-container matColumnDef="expandedDetail">
  <td mat-cell *matCellDef="let eElement" [attr.colspan]="displayedColumns.length">
    <div class="example-element-detail"
         [@detailExpand]="eElement == expandedElement ? 'expanded' : 'collapsed'">
      <div class="example-element-detail">
        <div class="example-element-name">From Account: {{eElement.fromAccount}} </div><br>
        <div class="example-element-name">To Account: {{eElement.toAccount}} </div><br>
        <div class="example-element-detail">Date: {{eElement.date}} </div><br>
        <div class="example-element-detail">Amount: {{eElement.amount}} </div>
      </div>
    </div>
  </td>
</ng-container>
<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  -->
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let eElement; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === eElement"
      (click)="expandedElement = expandedElement === eElement ? null : eElement; getDetails(element.transactionId)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
  <mat-paginator [pageSizeOptions]="[1, 5, 10, 15]" [length]="length" [pageSize]="5" showFirstLastButtons (page)="handlePage($event)"></mat-paginator>
</div>

<!-- 
<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-detail">
          <div class="example-element-name">From Account: {{element.fromAccount}} </div>
          <div class="example-element-name">To Account: {{element.toAccount}} </div>
          <div class="example-element-detail">Date: {{element.date}} </div>
          <div class="example-element-detail">Amount: {{element.amount}} </div>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element; getDetails(element.transactionId)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table> -->
